body{
  background: #eee;
}
.container{
  margin: 100px auto;
  width: 600px;
  height: 200px;
  background: #a9a9a9;
  border-radius: 100px;
}
#green,#yellow,#red{
width: 150px;
height: 150px;
border-radius: 50%;
box-shadow: 0 -15px 4px;
background: lightgreen;
}
#green{
background: lightgreen;
}
#yellow{
  background-color: yellow;
  }
#red{
  background: red;
  }
#green.Dark,#yellow.Dark,#red.Dark{
width: 150px;
height: 150px;
border-radius: 50%;
box-shadow: 0 -15px 4px;
opacity: 0.1;
}
#yellow.Dark{
background: yellow;
}
#green.Dark{
background: green;
}
#red.Dark{
background: red;
}
.container,.btn{
  display: flex;
  justify-content: space-evenly;
}
#act{
  cursor: pointer;
  background: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  opacity: 0.8;
  box-shadow: 0 10px 0 darkblue;
  user-select: none;
  margin:0 auto;
}

#act:hover{
  opacity: 1;
}

#act.pushed{
  margin-top: 5px;
  box-shadow: 0 4px 0 darkblue;
}
